<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");	
*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;

=======
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.sapu {
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 12px 5px 12px;
    background-color: white;
    border: 3px solid white;
    border-radius: 25%;
    opacity: 0.7;
}
.sapu:hover {
    background-color: transparent;
    border: 3px solid white;
    color: white;
    transition: 0.6s;
}

body {
    background-image: url("the.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
    font-family: courier;
    opacity: 0.6;
}
ul li {
    display: inline-block;
}
li a {
    display: block;
    padding: 16px;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-family: "Poppins";
}
ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover {
    background-color: white;
    color: #000;
}
ul li a.active {
    background-color: white;
    color: #000;
}
.logo img {
    float: left;
    width: 70px;
    height: auto;
    margin-top: 30px;
    margin-left: 10px;
    opacity: 0.8;
}
>>>>>>> b4a66ff1ed546813f411827237bab50d77b9cbf9

body {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
<<<<<<< HEAD
body{
	background:linear-gradient(to top,rgba(0, 0, 0, 0.5)50%,rgba(0, 0, 0, 0.5)50%) ,url(the.webp);
	background-size:cover ;
	background-repeat: no-repeat;
   font-family:'poppins', sans-serif;
	height:100vh;
		
	}
nav{
	background: transparent;
	height: 80px;
	width: 100%;
	
}
label.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 100px 40px;
	font-weight: bold;
	margin-top: 10px;
}
nav ul{
	float: right;
	margin-right: 10px;

}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;

}
nav ul li a{
	color: white;
	font-size: 25px;
	padding: 7px 13px;
	border-radius: 3px;
	

}
a.active,a:hover{
	 background-color: white;
    color: #000;
}
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}
@media(max-width:952px){
	label.logo{
		font-size: 30px;
		padding-left:50px ;
	}
	nav ul li{
		font-size: 16px;
	}
}
@media(max-width:858px){
	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: black;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a{
		font-size: 20px;
	}
	a:hover,a.active{
		background-color: white;
    color: #000;
	}
	#check:checked ~ ul{
		left: 0;
	}
}
.main{
	width: 100%;
	height: calc(100vh - 80px);
	display: flex;
	justify-content: center;
	align-items: center;
}
form{
	width: 20rem;
	height: 28rem;
	display: flex;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 8px 32px 0;
	border-radius: 30px;
		
}
h1{
	text-align: center;
	letter-spacing: 1px;
	text-shadow: 2px 2px 4x ;
	
	margin-top: 5%;
}
label{
	font-size: 20px;
	text-align: center;
}
input{
	width: 70%;
	margin: 4% auto;
	margin-bottom: 3%;
	border: none;
	outline: none;
	background: transparent;
	color: white;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);

}
button{
	width: 20%;
	text-align: center;
    margin: 0.5% auto;
    border-radius: 10px;
    color: black;
    font-size: 15px;
    cursor: pointer;
    border: none;
    outline: none;

}


=======
.align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
}
form {
    padding: 60px;
    text-align: center;
    box-shadow: 0 8px 3px;
    width: 300px;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
}
form input {
    color: WHITE;
    margin: 10px;
    text-align: center;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    opacity: 0.4;
}
@media (max-width: 786px) {
    .main ul {
        position: fixed;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: black;
    }
    .main ul li {
        display: block;
    }
}
>>>>>>> b4a66ff1ed546813f411827237bab50d77b9cbf9
